{{>header}}
<body>
    <div class="main-content">
        <p>The site for Weather!</p>

        <form id="form">
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>

        <h2>Results:</h2>
        <p class="ms1"></p>
        <p class="ms2"></p>
    </div>
    <img class="portrait" height="100px" width="100px" src="./img/Untitled.jpg" alt="">
    {{>footer}}


